<div class="footer">
	<div class="footer-inner">
		<div class="footer-column">
			<div class="column-header">About</div>
			<div class="column-body">
				<ul>
					<li><a href="./about">About Us</a></li>
					<li><a href="./contact">Contact Us</a></li>
					<li><a href="./sponsors">Endorsements</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-column">
			<div class="column-header">Legal</div>
			<div class="column-body">
				<ul>
					<li><a href="./terms">Terms &amp; Conditions</a></li>
					<li><a href="./privacy">Privacy</a></li>
					<li>Copyright &copy; 2016 Jeffrey Meyer</li>
				</ul>
			</div>
		</div>
	</div>
</div>
