<div class="navbar navbar-light bg-faded">
	<div class="container">
		<a href="./" class="navbar-brand">{{> app/name}}</a>
		<ul class="nav navbar-nav float-center">
			<li class="nav-item"><a class="nav-link" href="./">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="./pricing">Pricing</a></li>
			<li class="nav-item"><a class="nav-link" href="./about">About</a></li>
			<li class="nav-item"><a class="nav-link" href="./contact">Contact</a></li>
			<li class="nav-item"><a class="nav-link" href="./faq">FAQ</a></li>
		</ul>
	</div>
</div>
