<h1>{{title}}</h1>
<p>
	Here are a few commonly asked questions you might have yourself.  If you have a question you don't see here <a href="./contact">contact our live support</a>.
</p>

<h4>Where is it?</h4>
<ul>
	<li>Our designated location for your maximum benefit is in, Columbus, United States.</li>
</ul>

<h4>Where will I stay?</h4>
<ul>
	<li>
		We have created a partnership with many local hotels and OASIS&reg; providers.<br/>
		Some such as <a target="_blank" href="http://google.com/search?q=OASIS+plug+locations">Plug<a> who will offer the best Haptic&trade; equiment and a reliable unmonitored direction connection to the OASIS&reg;
	</li>
</ul>

<h4>How much will it cost?</h4>
<ul>
	<li>Price depends on your plan, which you can select <a href="./pricing">here</a>.  For higher end deals <a href="./contact">contact</a> us.  If you merge with our travel program you can also save up to $400 on tranportation.</li>
</ul>

<h4>How will I get there?</h4>
<ul>
	<li>As mentioned above we have partnered with IOI-Air for transportation.  This means if you customize your package to include our provided transportation you will save up to $400</li>
</ul>

<h4>What will I see in Columbus?</h4>
<ul>
	<li>We offer free tours of the IOI headquarters as well as an armored tour-bus through downtown Columbus.</li>
</ul>

<h4>How do I travel in Columbus?</h4>
<ul>
	<li>There are many modes of transportation offered here.  There are a lot of AutoCabs&trade;, public E-Monorails&reg;, or you can simply walk.</li>
	<div class="row">
		<div class="col-xs-6">
			For easy movement throughout the city we will provide a map <img class="img-fluid rounded" src="./img/map.png" alt="Map" />
		</div>
	</div>
</ul>
