<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/syfy/css/global.css" />
	<script src="/syfy/js/main.js"></script>
</head>
<body>
	<div class="nav">
		<div class="nav-inner">
			<ul>
				<li><a href="/">Home</a><li>
			</ul>
		</div>
	</div>
	<div class="content">
		Lorem ipsum dolor sit amet.
	</div>
	<div class="footer">
		<div class="footer-inner">
			<div class="footer-column">

			</div>
			<div class="footer-column">

			</div>
			<div class="footer-column">
				<div class="column-header">Legal</div>
				<div class="column-body">
					<ul>
						<li>Copyright &copy;  2016 Jeffrey Meyer</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
