<h1>{{> app/name}}</h1>
<p>
	Welcome to the {{> app/name}} website, your #1 OASIS tourism provider.  We are a travel organizer that offers visits to Columbus for access to the OASIS.
</p>
<div class="jumbotron">
	<h1 class="display-3">{{> app/name}}</h1>
	<p class="lead">
		Here are {{> app/name}} we offer a wide variety of tourist options for the Columbus area.  Many people visit for OASIS use and we recognize that and cater each of our packages to meet your specific needs.
	</p>
	<hr class="my-2">
	<p>
		For more information on our packages check out our pricing
	</p>
	<p class="lead">
		<a href="./pricing" class="btn btn-primary btn-lg">Learn More</a>
	</p>
</div>
