<h1>{{title}}</h1>
<p>
	We have a wide array of options for you to use to travel using {{> app/name}}.  Below we have a few of our preset options, these three are the most purchased packages.  If you feel like a certain package is inadequet or you want to create your own customized stay with {{> app/name}}.
</p>
<p>

</p>
<table class="table table-sm">
	<thead>
		<tr>
			<th>

			</th>
			<th class="table-success">
				Basic
			</th>
			<th class="table-warning">
				Gold
			</th>
			<th class="table-info">
				Enterprise
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>
				Features
			</th>
			<td class="table-success">
				<ul>
					<li>4 Hours of OASIS Time a day</li>
					<li>Gigabit data connection</li>
					<li>Unmonitored access through our secure lines</li>
					<li>1 Daily meal</li>
					<li>Access to your room's minibar</li>
				</ul>
			</td>
			<td class="table-warning">
				<ul>
					<li>12 Hours of OASIS Time a day</li>
					<li>Uncapped data connection</li>
					<li>Personal secure line</li>
					<li>3 Daily Meals</li>
					<li>Unlimitted drinks in your room</li>
				</ul>
			</td>
			<td class="table-info">
				<ul>
					<li>Unlimitted OASIS use</li>
					<li>All the features of Basic and Gold</li>
					<li>Unlimitted Meals at any time</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>
				Price
			</th>
			<td class="table-success">
				$300.00 per day
			</td>
			<td class="table-warning">
				$700.00 per day
			</td>
			<td class="table-info">
				$1500.00 per day
			</td>
		</tr>
		<tr>
			<th>
				Purchase
			</th>
			<td class="table-success">
				<button type="button" class="btn btn-warning">Purchase</button>
			</td>
			<td class="table-warning">
				<button type="button" class="btn btn-warning">Purchase</button>
			</td>
			<td class="table-info">
				<button type="button" class="btn btn-warning">Purchase</button>
			</td>
		</tr>
	</tbody>
</table>
